################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/DSASamples/FileContentIndex
/.vs/DSASamples.slnx/FileContentIndex
/.vs/DSASamples/CopilotIndices/18.0.981.45449
